body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(-45deg, white 30%, red 50%, white 70%);
    min-height: 100vh;
    }
    
    header {    
    background-color: #333;
    color: white;
    padding: 20px;
    }
    
    h1 {
    margin: 0;
    }
    
    .proyectos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
    }
    
    .proyecto img{
    width: 300px;
    height: 300px;
    }

    .proyecto {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    }
    
    .proyecto a {
 
    margin-top: 10px;
    padding: 10px;
    background-color: #b80000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    }
    
    .proyecto a:hover {
    background-color: #530000;
    }
    
    footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    }

    .river{
        justify-content: center;
        width: 100%;
        margin-top: 40px;
    }
    .river img{
        height: 200px;
        max-width: 80%;
    }