*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: "Delius", cursive;
}
.perfil{
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background-color: rgb(40, 40, 40);
}
.arriba{
    width: 300px;
    height: 300px;
    padding: 20px;
    color: white;
}
.yo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
    
}
.usuario, .rol{
    margin: 5px;
    font-size: 14px;
}
.abajo{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    background-color: rgb(117, 117, 117);
    width: 300px;
    height: 200px;
    border-bottom: 1px solid #ddd;
}
.abajo div{
    text-align: center;
    flex: 1;
    font-size: 20px;
}
.numero{
    font-weight: bold;
    font-size: 18px;
    display: block;
}
.boton{
    background-color: rgb(89, 67, 54);
    color: white;
    border: none;
    padding: 10px;
    width: 80%;
    height: 40px;
    margin: 15px auto;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.boton:hover{
    background: rgb(58, 49, 35);
}
.mas-info{
    font-size: 16px;
    color: #000000;
    text-align: center;
    width: 100%;
    cursor: pointer;
}